<app-app-header></app-app-header>
<app-sidebar></app-sidebar>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Upload File</h4>
      </div>
      <div class="modal-body">
        <div class="file-box">
        </div>
        <div class="small-loader">
          <span>File 1</span>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="70"
                 aria-valuemin="0" aria-valuemax="100" style="width:70%">
              <span class="sr-only">70% Complete</span>
            </div>
          </div>
          <a href="#" class="close-loader"><img src="/assets/images/close-loader.jpg"></a>
        </div>

        <div class="drag-drop-box">
          <h4>Drag File Here or Drop</h4>
        </div>

        <div class="cancel-upload-btn">
          <button>Cancel</button>
          <button class="bg-blue">Upload</button>
        </div>

      </div>
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>-->
    </div>

  </div>
</div>

<div id="myModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Test Setting</h4>
      </div>
      <div class="modal-body no-padding-top">
        <div class="test-setting-input">
          <input type="text" name="email" placeholder="Enter email address">
        </div>
        <div class="test-setting-content">
          <p>Send email when the test failed <span class="check-box-set"><input type="checkbox"></span></p>
          <p>Send email when the test complete <span class="check-box-set"><input type="checkbox"></span></p>
          <p>Send email when the test fails <span class="check-box-set"><input type="checkbox"></span></p>
        </div>
        <div class="cancel-upload-btn">
          <button>Cancel</button>
          <button class="bg-blue">Upload</button>
        </div>
      </div>
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>-->
    </div>

  </div>
</div>
<div id="myModal3" class="modal fade" role="dialog">
  <div class="modal-dialog export-popup-main">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header export-table-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body no-padding-top">
        <div class="test-tab-screen">
          <div class="tabs-heading">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab1" data-toggle="tab">Schedule</a></li>
              <li><a href="#tab2" data-toggle="tab">Manage Connection</a></li>
            </ul>
          </div>

          <div class="tabs-body">
            <div class="tab-content">
              <div class="tab-pane fade in active" id="tab1">
                <div class="main-table-content">

                  <table width="100%" border="0" class="">
                    <tr class="head-tr">
                      <td>Name <img src="/assets/images/down.png"></td>
                      <td>Lorem Ipsum <img src="/assets/images/down.png"></td>
                      <td>Lorem Ipsum <img src="/assets/images/down.png"></td>
                      <td>Lorem Ipsum <img src="/assets/images/down.png"></td>
                      <td>Lorem Ipsum <img src="/assets/images/down.png"></td>
                      <td></td>
                    </tr>
                    <tr class="empty-tr"></tr>
                    <tr>
                      <td>Test 01</td>
                      <td>Lorem Ipsum</td>
                      <td>Lorem Ipsum</td>
                      <td>Lorem Ipsum</td>
                      <td>Lorem Ipsum</td>
                      <td><a href="#">Edit Schedule</a></td>

                    </tr>
                    <tr class="empty-tr"></tr>
                    <tr>
                      <td>Test 01</td>
                      <td>Lorem Ipsum</td>
                      <td>Lorem Ipsum</td>
                      <td>Lorem Ipsum</td>
                      <td>Lorem Ipsum</td>
                      <td><a href="#">Edit Schedule</a></td>

                    </tr>
                    <tr class="empty-tr"></tr>
                    <tr>
                      <td>Test 01</td>
                      <td>Lorem Ipsum</td>
                      <td>Lorem Ipsum</td>
                      <td>Lorem Ipsum</td>
                      <td>Lorem Ipsum</td>
                      <td><a href="#">Edit Schedule</a></td>

                    </tr>
                    <tr class="empty-tr"></tr>

                  </table>

                </div>
              </div>
              <div class="tab-pane fade" id="tab2">
                <div class="main-table-content">
                  <table width="100%" border="0">
                    <tr class="head-tr">
                      <td>Name <img src="/assets/images/down.png"></td>
                      <td>Lorem Ipsum <img src="/assets/images/down.png"></td>
                      <td>Lorem Ipsum <img src="/assets/images/down.png"></td>
                      <td>Lorem Ipsum <img src="/assets/images/down.png"></td>
                      <td>Lorem Ipsum <img src="/assets/images/down.png"></td>
                      <td></td>
                    </tr>
                    <tr class="empty-tr"></tr>
                    <tr>
                      <td>Test 01</td>
                      <td>Lorem Ipsum</td>
                      <td>Lorem Ipsum</td>
                      <td>Lorem Ipsum</td>
                      <td>Lorem Ipsum</td>
                      <td><a href="#">Edit Schedule</a></td>

                    </tr>
                    <tr class="empty-tr"></tr>
                    <tr>
                      <td>Test 01</td>
                      <td>Lorem Ipsum</td>
                      <td>Lorem Ipsum</td>
                      <td>Lorem Ipsum</td>
                      <td>Lorem Ipsum</td>
                      <td><a href="#">Edit Schedule</a></td>

                    </tr>
                    <tr class="empty-tr"></tr>
                    <tr>
                      <td>Test 01</td>
                      <td>Lorem Ipsum</td>
                      <td>Lorem Ipsum</td>
                      <td>Lorem Ipsum</td>
                      <td>Lorem Ipsum</td>
                      <td><a href="#">Edit Schedule</a></td>

                    </tr>
                    <tr class="empty-tr"></tr>

                  </table>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>-->
    </div>

  </div>
</div>

<main class="wrapper-content">
  <div class="test-screen">
    <div class="test-heder">
      <div class="heading-test">
        <h3>Test 01 <a href="#"><img src="/assets/images/edit-ico.png"></a></h3>
        <span>Last Executed : 1 day ago duration : 2:05</span>
      </div>
      <div class="test-btn">
        <button class="bg-blue" data-toggle="modal" data-target="#myModal2">Test Testing</button>
        <button class="bg-green" data-toggle="modal" data-target="#myModal3">Export</button>
      </div>
    </div>

    <div class="drow-design-table main-grid">

      <cy-graph></cy-graph>

    </div>
  </div>
  <div class="upper-main-test-table">
    <div class="up-down" id="showtable">
      <a href="#"><img src="/assets/images/up-down.svg"></a>
    </div>
    <div class="test-tab-screen" id="hidetable">
      <div class="tabs-heading">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1" data-toggle="tab">Components</a></li>
          <li><a href="#tab2" data-toggle="tab">Job Details</a></li>
        </ul>
      </div>

      <div class="tabs-body">
        <div class="tab-content">
          <div class="tab-pane fade" id="tab1">

          </div>
          <div class="tab-pane fade in active" id="tab2">
            <div class="main-table-content">
              <table width="100%" border="0">
                <tr class="head-tr">
                  <td>Name <img src="/assets/images/down.png"></td>
                  <td>Job Path Source<img src="/assets/images/down.png"></td>
                  <td>Job Path Dest.<img src="/assets/images/down.png"></td>
                  <td>Submitted Time <img src="/assets/images/down.png"></td>
                  <td>Begin Time <img src="/assets/images/down.png"></td>
                  <td>Execution Id</td>
                  <td>End Time</td>
                  <td>Status</td>
                </tr>
                <tr class="empty-tr"></tr>
                <tr>
                  <td>Test 01</td>
                  <td>c:/download</td>
                  <td>c:/download</td>
                  <td>12-9-2015 02:15</td>
                  <td>12-9-2015 02:15</td>
                  <td>12-9-2015 02:15</td>
                  <td>12345</td>
                  <td>RUNNING</td>
                </tr>
                <tr class="empty-tr"></tr>
                <tr>
                  <td>Test 01</td>
                  <td>c:/download</td>
                  <td>c:/download</td>
                  <td>12-9-2015 02:15</td>
                  <td>12-9-2015 02:15</td>
                  <td>12-9-2015 02:15</td>
                  <td>12345</td>
                  <td>RUNNING</td>
                </tr>
                <tr class="empty-tr"></tr>
                <tr>
                  <td>Test 01</td>
                  <td>c:/download</td>
                  <td>c:/download</td>
                  <td>12-9-2015 02:15</td>
                  <td>12-9-2015 02:15</td>
                  <td>12-9-2015 02:15</td>
                  <td>12345</td>
                  <td>RUNNING</td>
                </tr>
                <tr class="empty-tr"></tr>

              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

